<div class="footer row">

	<div class="grid-unit matrix-column footer-section">
		<p> </p>
	</div>

	<div class="grid-unit matrix-column footer-section">
		<p>Email</p>
		<p>borja.arias@gmail.com</p>
	</div>
	
	<div id="spain_image" class="grid-unit matrix-column">
		<%= image_tag("spain.gif", {:class => "centered-element"}) %>		
	</div>

	<div class="grid-unit matrix-column footer-section">
		<p>Phone</p>
		<p>1.492.963.2</p>
	</div>

	<div class="grid-unit matrix-column footer-section">
		<p> </p>
	</div>

</div>