<div class="footer">
	<div class="row with-margins row-top-margin row-bottom-margin">
		
			<div class="grid-unit matrix-footer-big-column">		
				<h3 class="footer-section-title">About me</h3>
				<div>
					<%= image_tag("portrait.jpg", {:class => "portrait"}) %>
					<p class="about-me">Hi, my name is Borja, a software engineer specialized in iOS development. I live in London, United Kingdom</p>	
				</div>	
		   </div>


			<div class="grid-unit matrix-footer-big-column">
				<h3 class="footer-section-title">Contact information</h3>
				<p>I can best be reached via email at borja dot arias at gmail dot com.</p>
		   </div>


			<div class="grid-unit matrix-footer-small-column">
				<%= image_tag("spain.gif", {:class => "centered-element"}) %>
				<p class="about-spain">Crafted in Spain</p>
		   </div>
		</div>
	
</div>

