<div id="header" class="header row white-theme">
	
	<%= render("partial_templates/main_menu.html.erb") %>
	
	<h1 class="title"><%= image_tag("round_software_logo.png", {:id => 'logo'}) %></h1>
	
	<p class="subtitle"></p>
	
</div>