<div class="row horizontal_menu">
		
	<ol>
		<li><%= link_to(t('page_sections.main_menu.home'), home_path, {:class => 'main-menu-link home-link'}) %></li>
		<li>|</li>
		<li><%= link_to(t('page_sections.main_menu.articles'), blog_posts_path, {:class => 'main-menu-link articles-link'}) %></li>
	</ol>

</div>
