<div id="main-menu" class="horizontal_menu">
	<ol>
		<li><%= link_to('Home', home_path, {:class => 'home main-menu-link animatable menu-item-ndelay'}) %></li>
		<li><%= link_to('Blog', blog_posts_path, {:class => 'blog main-menu-link animatable menu-item-nndelay'}) %></li>
	</ol>
</div>
