<div class="row horizontal_menu">
	<div class="grid-unit half-column">&nbsp;</div>
	<div class="grid-unit half-column">
		<ol>
			<li><%= link_to('Home', home_path, {:class => 'main-menu-link home-link'}) %></li>
			<li>|</li>
			<li><%= link_to('Articles', blog_posts_path, {:class => 'main-menu-link articles-link'}) %></li>
		</ol>
	</div>	
</div>
