<div class="row with-margins centered-column">
	<p class="resume-company-section">
		<span class="resume-company-name">IG Index</span></br>
		<span class="resume-company-location">London, United Kingdom</span></br>
		<span class="resume-job-description">iOS developer in the market leader in Spread Betting</span>
	</p>
</div>

<div class="row with-margins centered-column">
	<p class="resume-company-section">
		<span class="resume-company-name">Sedition Art Ltd.</span></br>
		<span class="resume-company-location">London, United Kingdom</span></br>
		<span class="resume-job-description">iOS developer in the market leader in Spread Betting</span>
	</p>
</div>

<div class="row with-margins centered-column">
	<p class="resume-company-section">
		<span class="resume-company-name">Unboxed Consulting</span></br>
		<span class="resume-company-location">London, United Kingdom</span></br>
		<span class="resume-job-description">iOS developer in the market leader in Spread Betting</span>
	</p>
</div>

<div class="row with-margins centered-column">
	<p class="resume-company-section">
		<span class="resume-company-name">Nørut</span></br>
		<span class="resume-company-location">Tromsø, Norway</span></br>
		<span class="resume-job-description">iOS developer in the market leader in Spread Betting</span>
	</p>
</div>
