<div class="row row-top-padding row-bottom-margin">
	<div class="grid-unit centered-column">
		<p class="about-us">
			I am a software engineer and I live in London.
			I am fascinated by the complexity of software development and how the pursuit of
			well writen computer programs seems more and more like a metaphore of life itself.
			You don't stop learning, but you'll never get quite there.
		</p>
   </div>
</div>