
<div class="row with-margins row-top-margin row-bottom-margin">
	<div class="grid-unit page-column">
		<div class="grid-unit cover-main-column animatable-from-left skill-ndelay">
			<h2 class="cover-title black-title">ROUND</h2>
			<h2 class="cover-title white-title">SOFTWARE</h2>
	   </div>

		<div class="grid-unit cover-secondary-column animatable-from-center skill-ndelay">
			<p class="skill-description"><%= raw( t('page_sections.home.skills.ios.desc') )%></p>
	   </div>
	</div>
</div>
