<li id="<%= transform_image_name_to_id(app.image_src)%>">
	<div class="grid-unit app-description-column">
		<%= app.description %>
	</div>
	<div class="grid-unit app-description-column">
		<%= app.second_description %>
	</div>
</li>
