<div class="row">
	<div class="grid-unit centered-column app-show-unit">
		<div >
			<%= image_tag(@app.image_src, {:class => "app-show-icon-image"}) %>
			<h2 class="app-show-title"><%= @app.name %></h2>
		</div>

		<p class="app-show-description">This is an amazing app, it's really, really good. This is the description, and that's pretty much all I could ever say. Just listened to Brent Simmons interview in BitSplitting podcast which is driven by Daniel Jalkut, a former Apple engineer. He went there right after the university and didn't last for very long to be honest. The interesting part is that he went INDI ever since. He has a family, and somehow he's able to sustain them. Amazing, I would like to see the numbers.</p>
	</div>
</div>	